@model IEnumerable<Proyecto_Inmobiliaria_MVC.Models.Propietario>
@{
    ViewData["Title"] = "Propietarios";
}

<div class="text-center">
	<h1 class="display-4">Lista de Propietarios</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Id</th>
        <th>Dni</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id_propietarios)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Dni)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Apellido)
				</td>
                <td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
                <td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
                <td>
					@Html.DisplayFor(modelItem => item.Telefono)
				</td>
                <td>
                  <a href="@Url.Action("Detalle", "Propietarios", new { id = item.Id_propietarios }) " class="btn btn-info">
                      <i class="fa-solid fa-info"></i>
                  </a>
                    <a href="@Url.Action("Edicion", "Propietarios", new { id = item.Id_propietarios }) " class="btn btn-primary">
                      <i class="fa-solid fa-pencil"></i>
                  </a>
                    <a href="@Url.Action("Eliminar", "Propietarios", new { id = item.Id_propietarios })" class="btn btn-danger">
                      <i class="fa-solid fa-trash"></i>
                  </a>
				</td>
			</tr>
		}
  </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa-solid fa-plus"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Propietarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form asp-action="Agregar" method="post" id="formAgregarPropietario">
            <div class="mb-3">
            <label for="exampleInputDni" class="form-label">Dni</label>
            <input type="text" class="form-control" id="exampleInputDni" name="Dni">
        </div>
        <div class="mb-3">
            <label for="exampleInputApellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="exampleInputApellido"  name="Apellido">
        </div>
        <div class="mb-3">
            <label for="exampleInputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleInputNombre"  name="Nombre">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="Email">
        </div>
        <div class="mb-3">
            <label for="exampleInputTelefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="exampleInputTelefono"  name="Telefono">
        </div>
        <button type="submit" class="btn btn-primary" >Agregar</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Paginación -->
@if (ViewBag.TotalPropietarios > 10)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
            <li class="page-item">
                <a class="page-link" href="?page=2" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Sistema</strong>
      <small class="text-muted">justo ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
    </div>
    <div class="toast-body">
      @TempData["Mensaje"]
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toastElement = document.getElementById("successToast");
        var toast = new bootstrap.Toast(toastElement);
        
        @if (TempData["Mensaje"] != null)
        {
            <text>
                toast.show();
            </text>
        }
    });
</script>
