@model Paginacion<Contrato>
@{
    ViewData["Title"] = "Contratos";
}
<div class="text-center">
	<h1 class="display-4">Lista de Contratos</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Id_Contrato</th>
        <th>Email del inquilino</th>
        <th>Email del Propietario</th>
        <th>Tipo de Inmueble</th>
        <th>Monto</th>
        <th>Fecha desde</th>
        <th>Fecha_hasta</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id_contrato)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Emailinquilino)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmailPropietario)
				</td>
        <td>
					@Html.DisplayFor(modelItem => item.Inmuebletipo)
				</td>
        <td>
					@Html.DisplayFor(modelItem => item.Monto)
				</td>
               <td>
                    @item.Fecha_desde.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.Fecha_hasta.ToString("dd-MM-yyyy")
                </td>
                <td>
                  <a href="@Url.Action("Detalle", "Contrato", new { id = item.Id_contrato }) " class="btn btn-info">
                      <i class="fa-solid fa-info"></i>
                  </a>
                    <a href="@Url.Action("Edicion", "Contrato", new { id = item.Id_contrato}) " class="btn btn-primary">
                      <i class="fa-solid fa-pencil"></i>
                  </a>
                  <a href="@Url.Action("Pago", "Contrato", new { id = item.Id_contrato}) " class="btn btn-primary">
                      <i class="fa-solid fa-money-bill"></i>
                  </a>
                     <a href="javascript:void(0);" 
                      data-id="@item.Id_contrato" 
                      class="btn btn-danger" 
                      onclick="confirmDelete(this)">
                        <i class="fa-solid fa-trash"></i>
                  </a>
				</td>
			</tr>
		}
  </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa-solid fa-plus"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Contrato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form asp-action="Agregar" method="post" id="formAgregarContrato">
            <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email del Inquilino</label>
            <input list="inquilinosList" type="email" class="form-control" id="exampleInputEmail" name="Email">
            <input type="hidden" id="Id_inquilinos" name="Id_inquilino" value="">
            <datalist id="inquilinosList">
              @foreach (var inquilino in ViewBag.Inquilinos)
                  {
                    <option data-id="@inquilino.Id_inquilinos" value="@inquilino.Email">@inquilino.Email</option>
                  }
            </datalist>
        </div>
        <div class="mb-3">
            <label for="exampleInputTipo" class="form-label">Tipo de Inmueble</label>
            <input list="inmueblesList" type="text" class="form-control" id="exampleInputTipo"  name="Tipo">
            <input type="hidden" id="Id_inmueble" name="Id_inmueble" value="">
            <datalist id="inmueblesList">
              @foreach (var inmuebles in ViewBag.Inmuebles)
                  {
                    <option data-id="@inmuebles.Id_inmueble" value="@inmuebles.Tipo">@inmuebles.Tipo</option>
                  }
            </datalist>
        </div>
        <div class="mb-3">
            <label for="exampleInputMonto" class="form-label">Monto</label>
            <input type="text" class="form-control" id="exampleInputMonto"  name="Monto">
        </div>
        <div class="mb-3">
            <label for="exampleInputFecha_desde" class="form-label">Fecha desde</label>
            <input type="date" class="form-control" id="exampleInputFecha_desde" name="Fecha_desde">
        </div>
        <div class="mb-3">
            <label for="exampleInputFecha_hasta" class="form-label">Fecha hasta</label>
            <input type="date" class="form-control" id="exampleInputFecha_hasta"  name="Fecha_hasta">
        </div>
        <button type="submit" class="btn btn-primary" >Agregar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal toats-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Sistema</strong>
      <small class="text-muted">justo ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
    </div>
    <div class="toast-body">
      @TempData["Mensaje"]
    </div>
  </div>
</div>
<!-- Modal eliminar-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este propietario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a id="confirmDeleteButton" href="#" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
<!-- Paginación -->
<nav aria-label="Navegación de página">
    <ul class="pagination justify-content-center">
        @if (Model.PaginasAnteriores)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginaInicio - 1)" asp-route-pageSize="@ViewBag.PageSize" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
            </li>
        }

        @for (int i = 1; i <= Model.PaginasTotales; i++)
        {
            <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
            </li>
        }

        @if (Model.PaginasPosteriores)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginaInicio + 1)" asp-route-pageSize="@ViewBag.PageSize" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
            </li>
        }
    </ul>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toastElement = document.getElementById("successToast");
        var toast = new bootstrap.Toast(toastElement);
        
        @if (TempData["Mensaje"] != null)
        {
            <text>
                toast.show();
            </text>
        }
      
    });
    function confirmDelete(element) {
        var id = element.getAttribute("data-id");
        var url = "@Url.Action("Eliminar", "Contrato")" + "/" + id;
        document.getElementById("confirmDeleteButton").setAttribute("href", url);
        var myModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
        myModal.show();
    }
     document.getElementById('exampleInputEmail').addEventListener('input', function() {
        var input = this;
        var list = document.getElementById('inquilinosList');
        var hiddenInput = document.getElementById('Id_inquilinos');
        var options = list.options;

        hiddenInput.value = '';

        for (var i = 0; i < options.length; i++) {
            if (options[i].value === input.value) {
                hiddenInput.value = options[i].getAttribute('data-id');
                break;
            }
        }
    });
     document.getElementById('exampleInputTipo').addEventListener('input', function() {
        var input = this;
        var list = document.getElementById('inmueblesList');
        var hiddenInput = document.getElementById('Id_inmueble');
        var options = list.options;

        hiddenInput.value = '';

        for (var i = 0; i < options.length; i++) {
            if (options[i].value === input.value) {
                hiddenInput.value = options[i].getAttribute('data-id');
                break;
            }
        }
    });
</script>