@model Paginacion<Contrato>
@{
    ViewData["Title"] = "Contratos";
}
<div class="text-center">
	<h1 class="display-4">Lista de Contratos</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Id_Contrato</th>
        <th>Email del inquilino</th>
        <th>Uso del Inmueble</th>
        <th>Monto</th>
        <th>Fecha desde</th>
        <th>Fecha_hasta</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id_contrato)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Emailinquilino)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Inmuebleuso)
				</td>
                <td>
					@Html.DisplayFor(modelItem => item.Monto)
				</td>
               <td>
                    @item.Fecha_desde.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.Fecha_hasta.ToString("dd-MM-yyyy")
                </td>
                <td>
                  <a href="@Url.Action("Detalle", "Contrato", new { id = item.Id_contrato }) " class="btn btn-info">
                      <i class="fa-solid fa-info"></i>
                  </a>
                    <a href="@Url.Action("Edicion", "Contrato", new { id = item.Id_contrato}) " class="btn btn-primary">
                      <i class="fa-solid fa-pencil"></i>
                  </a>
                     <a href="javascript:void(0);" 
                      data-id="@item.Id_contrato" 
                      class="btn btn-danger" 
                      onclick="confirmDelete(this)">
                        <i class="fa-solid fa-trash"></i>
                  </a>
				</td>
			</tr>
		}
  </tbody>
</table>
<!-- Modal toats-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Sistema</strong>
      <small class="text-muted">justo ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
    </div>
    <div class="toast-body">
      @TempData["Mensaje"]
    </div>
  </div>
</div>
<!-- Modal eliminar-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este propietario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a id="confirmDeleteButton" href="#" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
<!-- Paginación -->
<nav aria-label="Navegación de página">
    <ul class="pagination justify-content-center">
        @if (Model.PaginasAnteriores)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginaInicio - 1)" asp-route-pageSize="@ViewBag.PageSize" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
            </li>
        }

        @for (int i = 1; i <= Model.PaginasTotales; i++)
        {
            <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
            </li>
        }

        @if (Model.PaginasPosteriores)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginaInicio + 1)" asp-route-pageSize="@ViewBag.PageSize" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
            </li>
        }
    </ul>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toastElement = document.getElementById("successToast");
        var toast = new bootstrap.Toast(toastElement);
        
        @if (TempData["Mensaje"] != null)
        {
            <text>
                toast.show();
            </text>
        }
      
    });
    function confirmDelete(element) {
        var id = element.getAttribute("data-id");
        var url = "@Url.Action("Eliminar", "Contrato")" + "/" + id;
        document.getElementById("confirmDeleteButton").setAttribute("href", url);
        var myModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
        myModal.show();
    }
</script>