@model Paginacion<Usuario>
@{
    ViewData["Title"] = "Usuarios";
    
}
<div class="text-center">
	<h1 class="display-4">Lista de Usuarios</h1>
  <div class="col-md-12">
          <label for="Buscar" class="form-label">Buscar por email</label>
          <input type="text" class="form-control" id="Buscar" name="Buscar" placeholder="Buscar por Email">
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Avatar</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Apellido)
				</td>
                <td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
          <td>
					@Html.DisplayFor(modelItem => item.RolNombre)
				</td>
         <td>
          <img src="@Html.DisplayFor(modelItem => item.AvatarUrl)" class="rounded-circle" alt="avatar" style="width: 40px; height: 40px;">
				</td>
                <td>
                  <a href="@Url.Action("Detalle", "Usuario", new { id = item.Id_usuario }) " class="btn btn-info">
                      <i class="fa-solid fa-info"></i>
                  </a>
                    <a href="@Url.Action("Edicion", "Usuario", new { id = item.Id_usuario }) " class="btn btn-primary">
                      <i class="fa-solid fa-pencil"></i>
                  </a>
                  <a href="javascript:void(0);" 
                      data-id="@item.Id_usuario" 
                      class="btn btn-danger" 
                      onclick="confirmDelete(this)">
                        <i class="fa-solid fa-trash"></i>
                  </a>
				</td>
			</tr>
		}
  </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa-solid fa-plus"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Propietarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <form asp-action="Agregar" method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            <h1>Register</h1>
        </div>
        <div class="col-md-12">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" required>
        </div>
        <div class="col-md-12">
            <label for="Apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="Apellido" name="Apellido" required>
        </div>
        <div class="col-md-12">
            <label for="Email" class="form-label">Email</label>
            <input type="Email" class="form-control" id="Email" name="Email" required>
        </div>
        <div class="col-md-12">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" name="Clave" required>
        </div>
        <div class="col-md-12">
            <label for="AvatarFile">Avatar (opcional)</label>
            <input name="AvatarFile" type="file" />
        </div>
        <div class="col-md-12">
            <label for="Rol" class="form-label">Rol</label>
            <select class="form-select" required aria-label="select example" id="Rol" name="Rol">
            <option value="2">Empleado</option>
            <option value="1">Administrador</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">Registrar</button>
        </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Paginación -->
<nav aria-label="Navegación de página">
    <ul class="pagination justify-content-center">
        @if (Model.PaginasAnteriores)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginaInicio - 1)" asp-route-pageSize="@ViewBag.PageSize" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
            </li>
        }

        @for (int i = 1; i <= Model.PaginasTotales; i++)
        {
            <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
            </li>
        }

        @if (Model.PaginasPosteriores)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginaInicio + 1)" asp-route-pageSize="@ViewBag.PageSize" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
            </li>
        }
    </ul>
</nav>
<!--toats sietama-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Sistema</strong>
      <small class="text-muted">justo ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
    </div>
    <div class="toast-body">
      @TempData["Mensaje"]
    </div>
  </div>
</div>
<!-- Modal eliminar-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este Usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a id="confirmDeleteButton" href="#" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toastElement = document.getElementById("successToast");
        var toast = new bootstrap.Toast(toastElement);
        
        @if (TempData["Mensaje"] != null)
        {
            <text>
                toast.show();
            </text>
        }
    });
        function confirmDelete(element) {
        var id = element.getAttribute("data-id");
        var url = "@Url.Action("Eliminar", "Usuario")" + "/" + id;
        document.getElementById("confirmDeleteButton").setAttribute("href", url);
        var myModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
        myModal.show();
    }
</script>